<div class="row">
    <h1 class="display-4 text-info">Browse your Ledger</h1>
  </div>
  <div class="row">
  <div class="col-5 d-inline-block">
    <table class="table table-striped table-bordered text-info">
      <thead>
        <tr>
          <th >Action</th>
          <th >Quantity</th>
          <th >Value</th>
          <th >Details</th>
        </tr>
      </thead>
      
      <tbody *ngFor='let transaction of transactions'>
          
      <tr>
        <td >{{transaction.method}}</td>
        <td >{{transaction.quantity}}</td>
        <td >{{transaction.value}}</td>
        <td ><button (click)='transactionDetails(transaction)' class="btn btn-secondary">Details</button></td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
  <div class="col-7 d-inline-block jumbotron bg-secondary">
      <app-transaction *ngIf='selectedTransaction' [displayedTransaction]='selectedTransaction'></app-transaction>
    </div>