<img class="d-inline-block col-8 align-top" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKJQu0Do4RzlSHvWKba1JpR_5SpZsUoxheFg_bl79aGCVnkqMJMA' alt="dallas">

<table class="table table-dark table-striped col-8 mx-auto d-inline-block align-top">
  <tr>
    <td><p class="lead text-info">humidity:</p></td>
    <td><p class="lead text-info">{{humidity}}</p></td>
  </tr>
  <tr>
    <td><p class="lead text-info">Temp:</p></td>
    <td><p class="lead text-info">{{temp}}</p></td>
  </tr>
  <tr>
    <td><p class="lead text-info">high:</p></td>
    <td><p class="lead text-info">{{high}}</p></td>
  </tr>
  <tr>
    <td><p class="lead text-info">low:</p></td>
    <td><p class="lead text-info">{{low}}</p></td>
  </tr>
  <tr>
    <td><p class="lead text-info">Status:</p></td>
    <td><p class="lead text-info">{{status}}</p></td>
  </tr>
</table>