<div class="container">
<div id="cake_form" class="col-6 align-top card d-inline-block">
    <h2 class="text-primary text-center">Add a cake!</h2> 
<form (submit)='createCake()'>
  <table class="table table-hover table-striped table-secondary text-info">
    <tr>
      <td> <p class="lead "><strong>Baker name:</strong></p></td>
      <td><input type="text" class="form-control" name="newCake.baker" [(ngModel)]='newCake.baker'></td>
    </tr>
    <tr>
      <td><p class="lead "><strong>Cake image URL:</strong></p></td>
      <td><input type="text" class="form-control" name="newCake.img" [(ngModel)]='newCake.img'></td>
    </tr>
    <tr>
      <td colspan='2'>
        <input type="submit" value="Add cake!" class="btn btn-info text-primary col-12">
      </td>
    </tr>
  </table>

</form>
</div>
<div class="col-6 align-top d-inline-block">
<div *ngFor='let cake of cakes'>

  <table class="table table-hover table-striped table-secondary text-info">
    <tr>
      <td><p class="lead"><strong> Baked by:</strong></p></td>
      <td><p class="lead"><strong>{{cake.baker}}</strong></p> </td>
    </tr>
    <tr>
      <td colspan='2'><img src="{{cake.img}}" alt="cake"></td>
    </tr>
    <form (submit)='addRating'>
    <tr>
      <td>Rating:</td>
    </tr>
    <tr></tr>
  </form>
  </table>
</div>
</div>

</div>
