
<div class="container">
<div class="mx-auto mt-5">
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/tulsa']">Tulsa Weather</button>
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/seattle']">Seattle Weather</button>
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/burbank']">Burbank Weather</button>
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/dc']">DC Weather</button>
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/chicago']">Chicago Weather</button>
<button class="btn btn-info btn-lg text-dark mr-3" [routerLink]="['/dallas']">Dallas Weather</button>
</div>

<router-outlet></router-outlet>
</div>