
<div style="text-align:center">
  {{ title }}
  </div>
<div class="createForm">
  <h2>Add a new Task</h2>
  <form (submit)="onSubmit ()">
    <table>
      <tr>
  <td>Task:</td> 
  <td><input type="text" name="newTask.title" 
  [(ngModel)]="newTask.title"></td>
  </tr>
  
  <tr>
  <td>Description:</td> 
  <td><input type="text" name="newTask.description"
  [(ngModel)]="newTask.description"></td>
  </tr>
  <tr>
    <td>
  <input type="submit" value="Create Task">
  </td>
  </tr>
  </table>
  </form>
</div>

<div class="createForm" *ngIf='showing'>
  <h2>Update a task</h2>
 <form (submit)='update(task)'>
    <table>
        <tr>
    <td>Task:</td> 
    <td><input type="text" name="updateTask.title" 
    [(ngModel)]="updateTask.title"></td>
    </tr>
    
    <tr>
    <td>Description:</td> 
    <td><input type="text" name="updateTask.description" 
    [(ngModel)]="updateTask.description"></td>
    </tr>
    <tr>
        <td>Complete?</td>
        <td><input type='checkbox' name='updateTask.completed' [(ngModel)]='updateTask.completed'> </td>
      </tr>
     
    <tr>
      <td>
    <input type="submit" value="update">
    </td>
    </tr>
    </table>
 </form>
</div>

<app-task *ngIf='selectedTask' [taskToShow]='selectedTask' (eventToUse)='deleteTasksFromService($event)'></app-task>
  
    <div *ngFor="let task of tasks">
        
      <button (click)="onButtonClickParam(task)">Edit</button>
           <button (click)='onButtonClickSelect(task)'>Select</button>

      
      </div>

      

