<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type="text/css" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
    <h1 id='header'>Cars or cats?</h1>
    <a href="/cars"><div id='cars'>
        <h1 class="linktext">CARS</h1>
    </div></a>
    <a href="/cats"><div id='cats'>
        <h1 class="linktext">CATS</h1>
    </div></a>
    <a id="newcar_link" href="/cars/new"><p>Or, add a new car!</p></a>
    </div>
</body>
</html>